@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  @apply box-border p-0 m-0;
}

a:not(.btn-link) {
  @apply font-bold text-gray-800 no-underline transition-all ease-in-out hover:text-sky-500;
}

body {
  @apply bg-white;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-gray-700 font-display;
}

header h1,
header h2 {
  @apply font-semibold;
}

p {
  @apply text-sm text-gray-900 sm:text-base;
}

#polywork #color {
  @apply hidden;
}

#polywork:hover #color {
  @apply block;
}

#polywork:hover #plain {
  @apply hidden;
}

.prose img {
  @apply rounded-md !important;
}

.prose #main-img {
  @apply mx-auto shadow-xl rounded-xl !important;
}

.prose #avatar {
  @apply w-8 rounded-full !important;
  margin: 1.2rem 0.5rem 1.2rem 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  white-space: normal;
}
