@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  @apply box-border p-0 m-0;
}

a:not(.btn-link) {
  @apply font-medium no-underline transition-all ease-in-out hover:text-sky-600 text-sky-500;
}

a.alt-link {
  @apply font-medium text-gray-700 no-underline transition-all ease-in-out hover:text-gray-800;
}

body {
  @apply bg-white;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-gray-700 font-display;
}

header h1,
header h2 {
  @apply font-medium;
}

p {
  @apply text-sm text-gray-900 sm:text-base;
}

#polywork #color {
  @apply hidden;
}

#polywork:hover #color {
  @apply block;
}

#polywork:hover #plain {
  @apply hidden;
}

.prose img {
  @apply rounded-md !important;
}

.prose #main-img {
  @apply mx-auto shadow-xl rounded-xl !important;
}

.prose #avatar {
  @apply w-8 rounded-full !important;
  margin: 1.2rem 0.5rem 1.2rem 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  white-space: normal;
}

form label.required::after {
  content: '*';
  @apply ml-1 text-sky-400;
}

form label {
  @apply block text-gray-700;
}

form .input {
  @apply block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 font-display;
}

code {
  font-family: 'Fira Code', monospace !important;
  @apply py-0.5 px-1 bg-gray-100 border border-gray-200 rounded-md font-medium text-pink-600;
}
